.container {
  border: 3px solid orange;
  height: 350px;
  width: 600px;
  margin: 100px auto;
  background-color: lightgray;
  display: flex;
  top: 50px;
}

.logo {
  display: inline-block;
  margin-bottom: 30px;
  margin-left: 130px;
  font-family: Russo One;
  font-size: 15px;
}

button {
  width: 100px;
  height: 80px;
  box-shadow: 4px 4px 4px #373939;
  background-color: darkgray;
  border: none;
  border-radius: 5px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: black;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: blue;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.music-buttons {
  margin-top: 60px;
  margin-left: 30px;
}

.power,
.bank {
  margin-left: 120px;
}

h3 {
  margin-left: 5px;
  margin-bottom: 2px;
  font-family: Russo One;
  font-size: 15px;
}

.display-input {
  margin-top: 20px;
  margin-left: 60px;
  height: 50px;
}
#input-text {
  height: 40px;
  border: none;
  background-color: darkgray;
}

.bank {
  margin-top: 20px;
}

/*This is for slider */
.slidecontainer {
  margin-top: 20px;
  margin-left: 40px;
}

.volumeslider {
  -webkit-appearance: none;
  width: 200px;
  height: 5px;
  background: #121111;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border: 1px solid black;
  border-radius: 2px;
}

.volumeslider:hover {
  opacity: 1;
}

.volumeslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 25px;
  background: blue;
  cursor: pointer;
}

.volumeslider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: blue;
  cursor: pointer;
}

/*end of slider*/

#display {
  width: 200px;
  background-color: darkgray;
  margin: 15px auto;
  padding: 15px;
  box-sizing: border-box;
  margin-left: 50px;
}
p {
  text-align: center;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: Russo One;
}
